body {
	background-color: rgb(191, 230, 245);
	margin-top: 130px;
	@media (max-width: 800px) {
		margin-top: 300px;
	}
}

h1 {
	text-decoration: none;
}

.card {
	display: flex;
	max-width: 800px;
	border: 1px solid rgb(235, 153, 46);
}

.pic {
	border-radius: 5%;
}

.img {
	height: 100px;
	opacity: 1;
}

.link {
	font-size: 1.2rem;
	background: rgb(247, 244, 244);
	width: 200px;
	height: 30px;
	margin: 0 auto;
	padding: 5px;
	border-radius: 15px;
	box-shadow: 2px 2px sienna;
	text-align: center;
	opacity: 1;
}
